
# InsForge & AI agent skills
.env
.env.local
.env.*.local
.next
.venv
__pycache__
node_modules
.playwright-mcp
runtime
*.tsbuildinfo
.insforge
.agent
.agents
.augment
.claude
.cline
.github/copilot*
.kilocode
.qoder
.qwen
.roo
.trae
.windsurf
